.trigger {
    font-size: 18px;
    line-height: 50px;
    padding: 0 6px;
    cursor: pointer;
    transition: color 0.3s;
    color:#fff
  }
  
  .trigger:hover {
    color: #1890ff;
  }
.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  
  /* .site-layout-sub-header-background {
    background: #fff;
  } */
  
.site-layout .site-layout-background {
    background: #fff;
  }
  [data-theme="dark"] .site-layout-sub-header-background {
    background: #141414;
  }
  